<app-loader *ngIf="isLoading"></app-loader>
<div class="min-h-screen bg-white flex flex-col" *ngIf="!isLoading">
  <!-- shooting start animation -->
  <div class="shooting-stars-container">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Header -->
  <header class="flex justify-between items-center p-4 mobile-screen">
    <div class="flex items-center space-x-2">
      <div class="w-9 h-9 rounded-full">
        <img src="https://ucarecdn.com/10308972-632d-4dcd-b835-5eb624d948ab/logo.png" alt="logo">
      </div>
      <div class="flex items-center">
        <div class="text-xl sm:text-2xl font-bold">Skill</div>
        <div class="text-xl sm:text-2xl font-bold ml-2 text-green-500">GPT</div>
        <sup class="text-sm sm:text-md text-pink-800 font-bold">&nbsp;Beta</sup>
      </div>
    </div>
    <div class="flex items-center space-x-4">
      <button class="px-3 py-2 sm:px-4 sm:py-3 text-sm text-white font-bold bg-slate-800 rounded-full hover:bg-gray-800" 
              [ngClass]="{'disabled-div': isLoginClicked}" 
              (click)="signInWithGoogle()">Login with Google</button>
    </div>
  </header>

  <!-- Main Content -->
  <main class="container mx-auto px-4 flex flex-col md:flex-row items-center flex-grow">
    <!-- Left Column -->
    <div class="md:w-1/2 mb-8">
      <div class="flex items-center space-x-2 mb-4">
        <div class="w-8 h-8 sm:w-10 sm:h-10 bg-slate-800 rounded-lg flex items-center justify-center">
          <span class="text-white text-xl">&#10003;</span>
        </div>
      </div>
      <div class="min-h-[6rem] sm:min-h-[8rem]">
        <div class="text-lg sm:text-2xl font-bold mb-6 typewriter-line">{{ displayText1 }}</div>
        <div class="text-lg sm:text-2xl font-bold mb-6 typewriter-line">{{ displayText2 }}</div>
      </div>
      <p class="text-md sm:text-xl mb-6">"Always Learn from the best tool and SkillGPT is the one"</p>
      <div class="flex items-center space-x-4 mb-8">
        <p class="font-medium italic">-- Anonymous user</p>
      </div>
      <div class="flex space-x-4">
        <button [ngClass]="{'disabled-div': isLoginClicked}" 
                (click)="signInWithGoogle()" 
                class="px-4 py-2 sm:px-6 sm:py-3 bg-slate-800 text-white rounded-full hover:bg-gray-800">Discover</button>
      </div>
    </div>

    <!-- Right Column -->
    <div class="md:w-1/2 relative">
      <div class="rounded-3xl p-8">
        <div class="rounded-2xl p-6">
          <img src="https://ucarecdn.com/f1f829c4-7580-4dae-9c6b-b1d0852ec3b5/checklist.jpg" alt="rising">
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="mt-16 py-8 px-6">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center">
      <div class="text-center md:text-left mb-4 md:mb-0">
        <h2 class="text-lg sm:text-2xl font-extrabold text-gray-800">Skill GPT</h2>
        <p class="text-gray-600">© 2024 Skill GPT All rights reserved.</p>
      </div>
      <nav class="space-y-2 md:space-x-6 md:space-y-0">
        <a routerLink="/privacy-policy" class="text-gray-600 hover:text-gray-900 transition">Privacy Policy</a>
        <a routerLink="/refund-policy" class="text-gray-600 hover:text-gray-900 transition">Refund Policy</a>
        <a routerLink="/shipping-policy" class="text-gray-600 hover:text-gray-900 transition">Shipping Policy</a>
        <a routerLink="/terms-of-service" class="text-gray-600 hover:text-gray-900 transition">Terms Of Service</a>
        <a routerLink="/contact" class="text-gray-600 hover:text-gray-900 transition">Contact Us</a>
      </nav>
    </div>
  </footer>
</div>
