.margin-l-20{
    margin-left: 20%;
}

.height-1{
    height: 10dvh;
}
.height-2{
    height: 10dvh;
}
.topic{
    height: 78vh;
}
.height-3{
height: 78dvh;
}
.topic{
   

    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}

.topic::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

