.margin-l-20{
    margin-left: 20%;
}

.height-1{
    height: 5dvh;
}
.height-2{
    height: 10dvh;
}
.topic{
    height: 78vh;
}
.height-3{
height: 81dvh;
}
.topic{
   

    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}
.padding-all{
    padding: 1rem;
}

.topic::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

a{
    color: white;
    text-decoration: none;
}
.activeStatus {
    background-color: rgb(5 150 105 / var(--tw-bg-opacity));
    color: white;
    /* Other styles for active state */
  }




  .loader {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circular {
    animation: rotate 2s linear infinite;
    height: 100px;
    position: relative;
    width: 100px;
  }
  
  .path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    stroke: rgb(4 120 87);
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -124;
    }
  }
  
  @keyframes color {
    100%, 0% {
      stroke: rgb(4 120 87);
    }
    40% {
      stroke: rgb(4 120 87);
    }
    66% {
      stroke: rgb(4 120 87);
    }
    80%, 90% {
      stroke: rgb(4 120 87);
    }
  }


  /* Css for Chapter content */

  