.margin-l-20{
    margin-left: 20%;
}

.height-1{
    height: auto;
}
.height-2{
    height: 10dvh;
}
.topic{
    height: 78vh;
}
.height-3{
height: 81dvh;
}
.topic{
   

    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}
.padding-all{
    padding: 1rem;
}

.topic::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

a{
    color: white;
    text-decoration: none;
}
.activeStatus {
    /* background-color: rgb(5 150 105 / var(--tw-bg-opacity)); */
    /* background-color: rgb(30 41 59 / var(--tw-bg-opacity)); */
    background-color: rgb(148 163 184 / var(--tw-bg-opacity));
    color: white;
    /* Other styles for active state */
  }




  .loader {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circular {
    animation: rotate 2s linear infinite;
    height: 100px;
    position: relative;
    width: 100px;
  }
  
  .path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    stroke: rgb(4 120 87);
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -124;
    }
  }
  
  @keyframes color {
    100%, 0% {
      stroke: rgb(4 120 87);
    }
    40% {
      stroke: rgb(4 120 87);
    }
    66% {
      stroke: rgb(4 120 87);
    }
    80%, 90% {
      stroke: rgb(4 120 87);
    }
  }


  /* Css for Chapter content */

  div div div{

    code{
      line-height: 1.5rem;
  }
  
  pre{
       position: relative;
       background: rgba(0, 0, 0,0.9);
       color: whitesmoke;
       padding: 1rem;
       border-radius: 1rem;
       width: 50vw;
       display: flex;
       margin: 0 1rem 0 2rem;
     
  }
  pre::after{
    content: 'Copy code';
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f0f0f0;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 0.5rem;
   
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  pre:hover::after{
    background-color: #131212;
  }
  h1,h2,h3,h4,h5,h6,p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  }
  

  /* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  @media (max-width: 1024px) {
    .sidebar {
        display: none;
    }
    .sidebar-open .sidebar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 40;
        width: 75%;
        max-width: 320px;
        background-color: #1F2937;
    }
}

/* mobile menu */

/* General styles */
.navbar {
  /* background-color: #333; */
  padding: 0.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1; /* Ensure navbar is above the sidebar */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.navbar-toggler {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}



/* Sidebar styles */
.sidebar-mobile {
  position: fixed;
  top: 0;
  right: -250px; /* Hidden off the screen initially */
  height: 100%;
  width: 250px;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: right 0.3s;
  z-index: 2; /* Ensure sidebar is above the content */
}

.sidebar-mobile.active {
  right: 0; /* Move into view */
}

.close-btn {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  align-self: flex-end;
  margin-right: 1rem;
  cursor: pointer;
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: #555;
}
.navbar-toggler-icon{
  height: fit-content;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .navbar-toggler {
    display: block;
  }
}

/*  */

.user-panel{
  position: absolute;
  top: 8px;
  right: 3rem;
}
.disabled-div {
  pointer-events: none;
  opacity: 0.6; /* Optional: to give a visual cue that the div is disabled */
}
.enabled-div {
  pointer-events: all;
  opacity: 1; /* Optional: to give a visual cue that the div is disabled */
}
.res-background{
  background-color: rgb(244, 243, 241/ var(--tw-bg-opacity));
}
.res-text{
  color: rgb(2,12,23 / var(--tw-bg-opacity));
  padding: 0.8rem;
 border: 1px solid #898BA8;

}
.input-text{
  width: fit-content;
  padding: 0.8rem;
  background: rgb(30 41 59 / var(--tw-bg-opacity));
  color: white;
}
