<div class="min-h-screen bg-white flex flex-col">
<header class="flex justify-between items-center p-4 md:p-6">
    <div class="flex items-center space-x-2">
      <div class="w-9 h-9  rounded-full">
        <img src="../../assets/logo.png"  alt="logo">
      </div>
      <!-- <span class="font-bold text-3xl ">Skill GPT</span> -->
       
      <!-- <img src="../../assets/logo.png" class="w-1/6 h-1/6" alt="logo"> -->
      <div class="flex items-center">
        <div class="text-3xl font-bold ">Skill</div>
        <div class="text-3xl font-bold ml-2 text-green-500">GPT</div>
      </div>
    </div>
    
 
    <div class="flex items-center space-x-4">

     
      <span>&nbsp;</span>
    </div>
  </header>
<div [innerHTML]="safeContent"></div>
</div>