.container {
    background-color: rgb(31, 41, 55, 1);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100% !important;
    overflow: hidden;
    position: relative; /* Added for positioning of the logout button */
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}
.custom-border{
  border:1px solid rgba(64, 76, 102, 0.9);
  margin-right: 3px;
}
.logo-img {
    width: 40px;
    height: 40px;
}

.logo-text {
    font-size: 34px;
    font-weight: bold;
    margin-left: 10px;
    color: #50C878;
}


.btn-logout:hover {
    background-color: #42a763;;
}

.content {
    justify-content: end;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 60vh;
}

.message {
    font-size: 34px;
    margin-bottom: 20px;
}

.topic-input-container {
    display: flex;
    align-items: center;
}

.topic-input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
    font-size: 16px;
    outline: none;
    color: rgb(31, 41, 55, 1);
}

.btn-outline-secondary {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    background-color: #787d81;
    color: white;
}

.btn-outline-secondary:hover {
    padding: 10px;
    /* border: 1px solid #6c757d; */
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    background-color: #4a4d50;
    color: white;
}

/* .suggestedTopics {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.suggestedTopics .p-2 {
    flex-basis: calc(50% - 2rem);
} */


/* Sidebar */

.user-panel{
  display: flex;
  position: absolute;
  top: 14px;
  right: 3rem;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
    overflow-x: hidden;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    padding-top: 60px;
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .sidebar::-webkit-scrollbar{
    display: none;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0s;
  }
  
  .sidebar .closebtn:hover {
    color: rgb(52 211 153 );
    
    border-radius: 50%;
  }
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .disabled-div {
    pointer-events: none;
    opacity: 0.6; /* Optional: to give a visual cue that the div is disabled */
  }

  .custom-border{
    border:1px solid rgba(64, 76, 102, 0.9);
  }
  
  .openbtn {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    font-size: 20px;
    position: fixed;
    cursor: pointer;
    background-color:  rgb(15 23 42 / var(--tw-bg-opacity));;
    color: white;
    padding: 10px 15px;
    border: none;
    top: 45%;
    left: -56px;
    transform: rotate(90deg);
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .side-title{
    /* top: 23px;
  left: 21px; */
  color: #1dc696;
  font-weight: bold;
  font-size: 1.3rem;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }
/*  */