<div class="bg-gray-50">

    <!-- Header -->
    <header class="flex justify-between items-center px-6 py-4  ">
        <div class="text-2xl font-extrabold text-gray-800">Skill GPT</div>
        <nav class="space-x-6  md:flex">
            <!-- <a href="#" class="text-white bg-purple-600 hover:bg-purple-700 transition px-4 py-2 rounded-lg">Login</a> -->
            <div class="user-panel">
                <app-user-panel (buttonClick)="onClickLogout()" (credits)="handleChildEvent($event)"></app-user-panel>
            </div>
        </nav>
        <!-- <div class="md:hidden">
            <button class="text-gray-700 focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div> -->
    </header>

    <!-- Main Section -->
    <main class="flex flex-col items-center justify-center text-center mt-16 px-6">
        <h1 class="text-4xl md:text-6xl font-extrabold text-gray-800 mb-6">Hey Learners! Excited to learn something new..?</h1>
        <div class="relative w-full max-w-xl" [ngClass]="{'disabled-div': isGenerating}">
            <input (keyup.enter)="postInputTopic(topic)" [(ngModel)]="topic" type="text" placeholder="What's in your mind?...think...think...there you go 😜" class="w-full text-lg px-6 py-4 border border-gray-300 rounded-2xl shadow-md focus:outline-none focus:ring-2 focus:ring-slate-900 focus:border-transparent text-gray-800" />
            <button [ngClass]="{'disabled-div': !topic}" [disabled]="!topic" class="absolute inset-y-0 right-0 px-6 py-4 cursor-pointer text-white bg-slate-900 hover:bg-slate-500 transition rounded-r-2xl" (click)="postInputTopic(topic)">Search</button>
        </div>
<!-- sidebar books -->
        <div #mySidebar class="sidebar bg-slate-900">
            <div class="flex items-center justify-between">
                <p class="absolute side-title text-emerald-800">Your Books</p>
                <a href="javascript:void(0)" class="closebtn " (click)="closeNav()">×</a>
            </div>
            <div  class="w-full px-3 py-1 mt-2  hover:bg-slate-500 hover:text-white flex justify-between items-center cursor-pointer rounded-md dark:text-white"
                *ngFor="let item of userBooks"          
                     (click)="alreadyGeneratedBookSelection(item)">
                  <p class="px-1 py-2 text-base">{{ item.title }}</p>
            </div>
            
            <div *ngIf="userBooks.length==0">
                <p class="text-white">No books right now..!</p>
            </div>
          </div>
        <div #main id="main">
            <div class="side-nav openbtn" (click)="openNav($event)">
              <p class="dark:text-emerald-400 px-3">Your Books</p>
            </div> 
          </div>
          <!--  -->

        <div>
            <p *ngIf="isGenerating" class="text-slate-900 text-xl">Generating Chapters...</p>
            <p *ngIf="!isGenerating" class="text-white text-xl">&nbsp;</p>
        </div>
        <!-- Illustrations -->
        <div class="mt-12 flex justify-center items-center space-x-8">
            <div class="suggestedTopics  grid gap-2 mt-5 md:grid-cols-4 sm:grid-cols-2 lg:grid-cols-5 mb-4">
                <div *ngFor="let item of suggestedTopics" class="p-3 m-2 bg-slate-800 hover:bg-slate-500 hover:text-white rounded-xl cursor-pointer flex content-center justify-center" (click)="setSuggestedTopics($event)">
                    <p class="text-white text-md">{{item}}</p>
                </div>
        
            </div>
        
        </div>
    </main>



    <!-- out of credits modal -->

    <div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center z-50 bg-gray-800 bg-opacity-75">
        <div class="relative bg-white rounded-2xl shadow-lg w-full max-w-lg  mx-4 sm:mx-6 md:mx-8 p-6 md:p-8 overflow-auto">
          <!-- Close Button -->
          <button  (click)="closeModal()" class="absolute top-3 right-3 text-gray-400 hover:text-gray-600 transition duration-200" aria-label="Close" onclick="document.getElementById('modal').style.display='none'">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
      
          <!-- Modal Content -->
          <div class="text-center gap-3 flex flex-col">
            <p class="text-red-500 font-bold text-lg sm:text-xl md:text-2xl">You exceeded 3 free credits.</p>
            <div class="text-center">
                <button (click)="buyCredits()" class="bg-slate-900 hover:bg-slate-600 text-white font-bold py-2 px-4 rounded transition duration-200">
                  Buy more credits
                </button>
               
              </div>
             
          </div>
          
        
        </div>
      </div>

      <app-credits-modal *ngIf="isUpgrade" (closeModalEvent)="closeUpgradeModal()" [remCredits]="receivedCredits" ></app-credits-modal>
      
      <!-- <button (click)="downloadPdf()">Download PDF</button> -->
    <!--  -->
    <!-- Footer -->
    <footer class="mt-16  py-8 px-6 ">
        <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center">
            <div class="text-center md:text-left mb-4 md:mb-0">
                <h2 class="text-2xl font-extrabold text-gray-800">Skill GPT</h2>
                <p class="text-gray-600">© 2024 Skill GPT All rights reserved.</p>
            </div>
            <nav class="space-x-6">
                <a href="#" class="text-gray-600 hover:text-gray-900 transition">Privacy Policy</a>
                <a href="#" class="text-gray-600 hover:text-gray-900 transition">Terms of Service</a>
                <a href="#" class="text-gray-600 hover:text-gray-900 transition">Contact Us</a>
            </nav>
        </div>
    </footer>
</div>