.container {
    background-color: rgb(31, 41, 55, 1);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100% !important;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 40px;
    height: 40px;
}

.logo-text {
    font-size: 34px;
    font-weight: bold;
    margin-left: 10px;
    color: #50C878;
}

.content {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 60vh;
}

.message {
    font-size: 34px;
    margin-bottom: 20px;
}

.topic-input-container {
    display: flex;
    align-items: center;
}

.topic-input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
    font-size: 16px;
    outline: none;
    color: rgb(31, 41, 55, 1);
}

.btn-outline-secondary {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    background-color: #6c757d;
    color: white;
}

.btn-outline-secondary:hover {
    padding: 10px;
    border: 1px solid #6c757d;
    border-radius: 0 5px 5px 0;
    font-size: 15px;
    background-color: rgb(31, 41, 55, 1);
    color: white;
}
