<div class="container">
    <div class="flex flex-col">
        <div class="flex justify-between">
            <div class="logo">
                <span class="logo-text">Skill&nbsp;GPT</span>
            </div>
            <div class="user-panel">
                <app-user-panel (buttonClick)="onClickLogout()"></app-user-panel>
            </div>
        </div>
        <div class="content gap-4 ">
            <div class="">
                <!-- <div class="... bg-red-50">
                    <div class="topic overflow-y-auto" >
                       
                        <div  class="w-full px-3 py-1 mt-2 hover:bg-emerald-600 hover:text-white flex justify-between items-center cursor-pointer rounded-md dark:text-emerald-400"
                        *ngFor="let item of userBooks"          
                             (click)="alreadyGeneratedBookSelection(item)">
                          <p class="px-1 py-2 text-base">{{ item.title }}</p>
                          </div>
                      </div>
                </div> -->
                <div #mySidebar class="sidebar bg-emerald-500">
                    <a href="javascript:void(0)" class="closebtn " (click)="closeNav()">×</a>
                    <div  class="w-full px-3 py-1 mt-2 hover:bg-emerald-600 hover:text-white flex justify-between items-center cursor-pointer rounded-md dark:text-emerald-400"
                        *ngFor="let item of userBooks"          
                             (click)="alreadyGeneratedBookSelection(item)">
                          <p class="px-1 py-2 text-base">{{ item.title }}</p>
                    </div>
                    
                    <div *ngIf="userBooks.length==0">
                        <p>No books right now..!</p>
                    </div>
                  </div>
                  
                  <div #main id="main">
                    <div class="side-nav openbtn" (click)="openNav($event)">
                      <p class="dark:text-emerald-400 px-3">Your Books</p>
                    </div> 
                  </div>
                  
                  <div class="col-span-2 flex flex-col gap-3">
                <div class="flex flex-col flex-wrap justify- content-center gap-2">
      
                  <p class="lg:text-5xl md:text-4xl sm:text-3xl ">Hello! Learners!</p>
                  <p class="lg:text-5xl md:text-4xl sm:text-3xl "> On which topic are you excited to skill up today?</p>
              </div>
              <div class="topic-input-container flex justify-center items-center">
                  <input type="text" class="topic-input" [(ngModel)]="topic" placeholder="Enter your topic here..." (keyup.enter)="postInputTopic(topic)">
                  <button class="btn btn-outline-secondary" type="submit" [disabled]="!topic" (click)="postInputTopic(topic)"><i class="fa-solid fa-arrow-right"></i></button>
              </div>
                  </div>
      
              </div>
            <div>
                <p *ngIf="isGenerating" class="text-white text-xl">Generating Chapters...</p>
                <p *ngIf="!isGenerating" class="text-white text-xl">&nbsp;</p>
            </div>
        </div>
    </div>
    
    <!-- <button  (click)="downloadPdf()" class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-arrow-down"></i></button> -->
    <div class="suggestedTopics  grid gap-2 mt-5 md:grid-cols-4 sm:grid-cols-2 lg:grid-cols-5 mb-4">
        <div *ngFor="let item of suggestedTopics" class="p-2 m-2 bg-emerald-500 rounded-lg cursor-pointer flex content-center justify-center" (click)="setSuggestedTopics($event)">
            <p class="text-white text-md">{{item}}</p>
        </div>

    </div>
</div>