<div class="logout-btn">
    <!-- <button class="btn-logout" (click)="onClickLogout()">Logout</button> -->
    
    <!-- <button id="dropdownHoverButton" (mouseover)='toggleHover()'   data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Dropdown hover <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
    </button> -->




    
    
</div>
<div class="avatar-menu">
   
<div class="avatar relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
    <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
</div>

    <ul class="dropdown-menu ">
        <!-- <li><a href="#">Profile</a></li> -->
        <li class="flex justify-center content-center"><a href="#" >Credits:</a></li>
        <li (click)="onClickLogout()" class="flex justify-center content-center" style="color: red;"><a href="">Logout</a></li>
        <!-- Add other menu items here -->
    </ul>
</div>
