@tailwind base;
@layer
base {   h1 {    
font-size
:
2rem
;
/* Set your desired font size */
font-weight
: bold;
/* Set your desired font weight */
  }   h2 {    
font-size
:
1.5rem
;
/* Set your desired font size */
font-weight
: bold;
/* Set your desired font weight */
  }   h3 {    
font-size
:
1.25rem
;
/* Set your desired font size */
font-weight
: bold;
/* Set your desired font weight */
  }   h4 {    
font-size
:
1rem
;
/* Set your desired font size */
font-weight
: bold;
/* Set your desired font weight */
  }   h5 {    
font-size
:
0.875rem
;
/* Set your desired font size */
font-weight
: bold;
/* Set your desired font weight */
  }   h6 {    
font-size
:
0.75rem
;
/* Set your desired font size */
font-weight
: bold;
/* Set your desired font weight */
  } }
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";

p{
    margin-bottom: 0 !important;
}

*{
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
}